{% extends "base.html" %}
{% load static %}
{% block content %}
  
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Tailgate Style</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'catalogue' %}">Catalogue</a></li>
            <li>Tailgate Style</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item">
            <a href="{% url 'led_corn_hole' %}">
                <img src="{% static 'img/services/ledcornhole.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                <h4>LED Corn Hole</h4>
                <a href="{% url 'led_corn_hole' %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </a>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item">
            <a href="{% url 'giant_jenga' %}">
            <img src="{% static 'img/services/giantjenga.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Giant Jenga</h4>
              <a href="{% url 'giant_jenga' %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
            </a>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

  </main><!-- End #main -->

{% endblock content %}