{% extends "base.html" %}
{% load static %}
{% block content %}
  
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Photo Novelty</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'catalogue' %}">Catalogue</a></li>
            <li><a href="{% url 'photo_novelty' %}">Photo Novelty</a></li>
            <li>Swing Booth</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container" data-aos="fade-up">
        <div class="portfolio-details-container">

          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'img/services/swingbooth.png' %}" class="img-fluid" alt="">
            <!-- <img src="{% static 'img/services/infinite2.jpg' %}" class="img-fluid" alt="">
            <img src="{% static 'img/services/infinite3.jpg' %}"class="img-fluid" alt=""> -->
          </div>

          <div class="portfolio-info">
            <h3>Product Information</h3>
            <ul>
              <li><strong>Category</strong>: Photo Booth</li>
              <li><strong>Item</strong>: Swing Booth</li>
            </ul>
          </div>

        </div>

        <div class="portfolio-description">
          <h2>The Swing Booth</h2>
          <p>
            The Swing Booth can be added to ANY Photo Booth or Photo Station or used as a "Selfie Station" for guests to snap their own pictures! Customized banner enclosures included.
          </p>
          <div class="text-center">
            <a href="{% url 'home' %}#contact" class="btn btn-primary">Request Info</a>
          </div>
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->



{% endblock content %}