{% extends "base.html" %}
{% load static %}
{% block content %}
  
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Photo Novelty</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'catalogue' %}">Catalogue</a></li>
            <li><a href="{% url 'photo_novelty' %}">Photo Novelty</a></li>
            <li>TapSnap 42</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container" data-aos="fade-up">
        <div class="portfolio-details-container">

          <div class="owl-carousel portfolio-details-carousel">
            <img src="{% static 'img/services/tapsnap1.jpg' %}" class="img-fluid" alt="">
            <!-- <img src="{% static 'img/services/infinite2.jpg' %}" class="img-fluid" alt="">
            <img src="{% static 'img/services/infinite3.jpg' %}"class="img-fluid" alt=""> -->
          </div>

          <div class="portfolio-info">
            <h3>Product Information</h3>
            <ul>
              <li><strong>Category</strong>: Photo Booth</li>
              <li><strong>Item</strong>: TapSnap 42</li>
            </ul>
          </div>

        </div>

        <div class="portfolio-description">
          <h2>The TapSnap 42</h2>
          <p>
            The TapSnap 42 experience comes with your very own Photo Entertainment Specialists. Our staff are masters of fun, specially trainined to set up, take down and oversee the action ensuring you get the most
            out of TapSnap. Let loose and enjoy the moment as your TapSnap Photo Entertainment Specialists take care of the details.
          </p>
          <div class="text-center">
            <a href="{% url 'home' %}#contact" class="btn btn-primary">Request Info</a>
          </div>
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->



{% endblock content %}